body {
    background-color: rgba(255, 166, 0, 0.34);
}

.ej {
    background-color: rgba(255, 68, 0, 0.815);
    position: absolute;
    margin-top: 150px;
    margin-left: 40%;
    border-radius: 20px;
    width: 300px;
    height: 500px;
    text-align: center;
}

.cj {
    position: absolute;
    bottom: 0%;
    width: 1400px;
    height: 225px;
    left: 3%;
}
.r6 {
    background-color: white;
    border-color: black;
    box-shadow: black;
    position: absolute;
    height: auto;
    width: 150px;
}

.r7 {
    text-align: left;
    margin-left: 350px;
    position: absolute;
    height: auto;
    width: 150px;
}

.v1 {
    position: absolute;
    margin-left: 175px;
    height: auto;
    width: 150px;
}
.v2 {
    position: absolute;
    margin-left: 175px;
    height: auto;
    width: 150px;
}
.v3 {
    position: absolute;
    margin-left: 175px;
    height: auto;
    width: 150px;
}
.v4 {
    position: absolute;
    margin-left: 175px;
    height: auto;
    width: 150px;
}
.v5 {
    position: absolute;
    margin-left: 175px;
    height: auto;
    width: 150px;
}
.v6 {
    position: absolute;
    margin-left: 175px;
    height: auto;
    width: 150px;
}
.v7 {
    position: absolute;
    margin-left: 175px;
    height: auto;
    width: 150px;
}
.v8 {
    position: absolute;
    margin-left: 175px;
    height: auto;
    width: 150px;
}
.v9 {
    position: absolute;
    margin-left: 175px;
    height: auto;
    width: 150px;
}

.jv1 {
    margin-top: 30%;
    margin-left: 17%;
}
.jp4 {
    margin-top: 30%;
    margin-left: 5%;
}

.p4 {
    margin-left: 10%;
    height: auto;
    width: 220px;
    margin-bottom: 10%;
    z-index: 0;
}



